.btn{
    @extend %font-14;
    padding: 10px 35px;
    box-shadow: none !important;
    border-radius: 4px;
    @extend %font-sans-caption;
    white-space: nowrap;
    font-weight: 700;

    &.border-radius-10{
        border-radius: 10px;
    }

    &.btn-lg{
        @extend %font-18;
        padding: 20px 35px;
    }

    &.btn-sm{
        @extend %font-12;
        padding: 13px 20px;
    }

    &.btn-primary{
        background-color: $primary;
        border-color: $primary;
        color: $white !important;

        &:hover, &:focus, &:active, &.active{
            border-color: darken($primary, 10%) !important;
            box-shadow: none !important;
            background-color: darken($primary, 10%) !important;
        }
    }

    &.btn-secondary{
        background-color: $secondary;
        border-color: $secondary;
        color: $black;

        &:hover, &:focus, &:active{
            border-color: darken($secondary, 10%) !important;
            box-shadow: none !important;
            background-color: darken($secondary, 10%) !important;
            color: $black !important;
        }
    }

    &.btn-success{
        background-color: $success;
        border-color: $success;

        &:hover, &:focus, &:active{
            border-color: darken($success, 10%) !important;
            box-shadow: none !important;
            background-color: darken($success, 10%) !important;
        }
    }

    &.btn-info{
        background-color: $info;
        border-color: $info;

        &:hover, &:focus, &:active{
            border-color: darken($info, 10%) !important;
            box-shadow: none !important;
            background-color: darken($info, 10%) !important;
        }
    }

    &.btn-warning{
        background-color: $warning;
        border-color: $warning;

        &:hover, &:focus, &:active{
            border-color: darken($warning, 10%) !important;
            box-shadow: none !important;
            background-color: darken($warning, 10%) !important;
        }
    }

    &.btn-danger{
        background-color: $danger;
        border-color: $danger;

        &:hover, &:focus, &:active{
            border-color: darken($danger, 10%) !important;
            box-shadow: none !important;
            background-color: darken($danger, 10%) !important;
        }
    }

    &.btn-outline-primary{
        background-color: transparent;
        border-color: $primary;
        color: $primary;

        &:hover, &:focus, &:active{
            border-color: $primary !important;
            box-shadow: none !important;
            background-color: $primary !important;
            color: $white;
        }
    }

    &.btn-outline-success{
        background-color: transparent;
        border-color: $success;
        color: $success;

        &:hover, &:focus, &:active{
            border-color: $success !important;
            box-shadow: none !important;
            background-color: $success !important;
            color: $white;
        }
    }
}