$primary: #101687 ;
$secondary: #FDE04D;
$success: #009953;
$warning: #F8BD01;
$info: #4087F5 ;
$danger: #EB0000;
$white: #FFF;
$black: #000;
$text-default: #6A707E ;
$text-dark: #050717 ;
$text-gray: #8A94A9;
$facebook: #3B5998;
$twitter: #1DA1F2;