.form-group{
    margin-bottom: 42px;

    label{
        color: #233538;
        margin-bottom: 15px;
        @extend %font-16;
        font-weight: bold;
    }

    .forgot-password{
        @extend %font-14;
        color: $primary;
    }

    .custom-file{
        height: auto; 
    }
    
    .custom-file-label{
        @extend %font-12;
        font-weight: 400 !important;
        @extend %font-sans-regular;
        color: #B8B8B8 !important;
        position: absolute;
        top: 0;
        left: 125px;
        z-index: 1;
        height: auto;
        padding: 13px 15px;
        font-weight: 400;
        background-color: #fff;
        border: none;
        border-radius: 4px;
    
        &:after {
            position: absolute;
            top: 0;
            left: -125px;
            bottom: 0;
            z-index: 3;
            display: block;
            height: auto;
            padding: 13px 15px;
            color: $success;
            content: "+ Gambar/Logo";
            background-color: $white;
            border: 1px solid $success !important;
            border-left: inherit;
            border-radius: 4px;
            @extend %font-12;
            max-width: 110px;
            cursor: pointer;
        }

        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
}

.form-control{
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    @extend %font-16;
    padding: 10px 20px;
    height: auto;
    color: #233538;
    resize: none;

    box-shadow: none !important;

    &:focus{
        box-shadow: none !important;
        border-color: $primary;
    }

    &::-webkit-input-placeholder {
        color: #C3BEBE;
    }
    &::-moz-placeholder {
        color: #C3BEBE;
    }
    &::-ms-placeholder {
        color: #C3BEBE;
    }
    &::placeholder {
        color: #C3BEBE;
    }

    &.custom-select{
        padding: 8px 15px;
        background: url("../img/icons/chevron-down.png") no-repeat right 20px center/8px 5px;
        color: #233538;
    }
}

.filter{
    .form-control{
        padding: 8px 15px;
    }
}

form{
    table{
        &.table{
            tr{
                td{
                    border-top: none;
                    border-bottom: 1px solid #dee2e6;
                    @extend %font-18;

                    .form-control{
                        @extend %font-18;
                        color: #727785;
                    }
                }
            }
        }
    }
}