body {
    @extend %font-sans-caption;
    color: $text-default;
    @extend %font-16;
    overflow-x: hidden;
    font-weight: 400;
    background-color: #FAFAFA;
}

button{
    outline: none;

    &:focus, &:active{
        outline: none;
    }
}

a{
    transition: all 0.3s ease-in-out !important;
    text-decoration: none !important;
    cursor: pointer;
    outline: none;

    &:not(.btn){
        color: $text-default;

        &:hover{
            color: $primary;
        }
    }

    &:focus, &:active{
        outline: none !important;
    }

    &.readmore{
        display: flex;
        align-items: center;
        position: relative;
        @extend %font-12;
        color: $primary;

        &:after{
            width: 60px;
            height: 1px;
            background-color: $primary;
            content: "";
            transition: all 0.3s ease-in-out;
            margin-left: 15px;
        }

        &:hover{
            &:after{
                width: 65px;
            }
        }
    }
}

p{
    @extend %font-14;
    margin-bottom: 10px;
    line-height: 1.5;

    small{
        @extend %font-16;
    }

    strong{
        font-weight: 700;
    }

    a{
        color: $primary !important;
    }
}

.summary{
    p{
        @extend %font-sans-regular;
        @extend %font-16;
        color: #818692;
        font-weight: 400;

        + p{
            margin-top: 20px;
        }
    }
}

header, main, footer{
    overflow-x: hidden;
}

main{
    padding: 40px 0;

    .card{
        ul, ol{
            padding-left: 1rem;
            margin-bottom: 20px;
            li{
                @extend %font-16;
                font-weight: 700;
                margin-bottom: 30px;
                padding-left: 15px;

                &.nav-item{
                    margin-bottom: 0;
                }
        
                a{
                    color: $text-default;
        
                    &:hover{
                        color: $primary;
                    }
                }
            }

            &.with-border{
                li{
                    font-weight: 400;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 0;
                    border-top: 1px solid #E0E0E0;
                }
            }

            &.list{
                li{
                    margin-bottom: 15px;
                    font-weight: 400;
                    p{
                        color: #233538;
                        font-weight: 400;
                    }

                    &:hover{
                        color: $primary;
                        font-weight: 700;

                        a{
                            color: $primary;
                        }

                        p{
                            color: #233538;
                            font-weight: 400;
                        }
                    }
                }

                &.with-description{
                    li{
                        color: $primary;
                        font-weight: 700;

                        a{
                            color: $primary;
                        }

                        p{
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

}

section{
    padding: 95px 0;
    position: relative;
    background-size: cover;
    background-position: center center;

    @include device(tablet) {
        overflow-x: hidden;
    }

    @include device(mobile) {
        overflow-x: hidden;
    }
}

.container {
    position: relative;
    @include device(hd) {
        max-width: 1170px;
    }

    @include device(desktop-up) {
        max-width: 1170px;
    }

    @include device(hdd) {
        max-width: 1170px;
    }
}

.title{
    margin-bottom: 30px;

    h1{
        @extend %font-80;
        margin-bottom: 0;
        font-weight: 600;
    }

    h2{
        @extend %font-70;
        margin-bottom: 0;
        font-weight: 600;
    }

    h6{
        margin-bottom: 0;
        font-weight: 700;
        color: $primary;
    }

    &.mb-40{
        margin-bottom: 40px;
    }
}

.pagination{
    justify-content: center;

    .page-item{
        .page-link{
            border-color: transparent;
            background-color: transparent;
            @extend %font-16;
            color: $text-default;

            &:hover{
                color: $primary;
            }

            &.active{
                color: $primary;
                font-weight: 700;
            }
        }

        &.active{
            .page-link{
                color: $primary;
                font-weight: 700;
                padding: .5rem 15px;
            }
        }
    }
}

.card{
    border-radius: 0;
    border-color: transparent;
    margin-bottom: 30px;
    box-shadow: 0 0 4px 2px rgba(238,238,238,0.50);
    .card-header{
        border-radius: 0;
        border-color: $success;
        background-color: $white;
        padding: 20px;
        [role="tablist"]{
            padding: 0;
            margin: 0;
            list-style: none;

            .nav-item{
                .nav-link{
                    @extend %font-18;
                    font-weight: 700;
                    color: $text-default;

                    &:hover, &.active{
                        color: $primary;
                    }
                }

                + .nav-item{
                    margin-left: 50px;
                }
            }
        }
    }
    .card-body{
        padding: 20px;
    }
}

hr.success{
    border-color: $success;
}

.progress{
    border-radius: 8px;
}

.modal-content{
    border-radius: 8px;
    background-color: #fff;

    button.close{
        position: absolute;
        top: 20px;
        right: 22px;
        opacity: 1;
        color: $danger;
        text-shadow: none;
        z-index: 2;

        @include device(mobile) {
            top: 10px;
            right: 10px;
        }
    }

    .modal-body{
        padding: 60px;

        @include device(mobile) {
            padding: 30px;
        }
        
        .title{
            h6{
                padding-bottom: 24px;
                border-bottom: 2px solid $success;
            }
        }

        table{
            &.table{
                tr{
                    td, th{
                        padding: 10px;
                    }
                }
            }
        }
    }
}

.owl-carousel.owl-theme{
    .owl-nav {
        margin: 0;
        [class*="owl-"] {
            width: auto;
            height: auto;
            border: none;
            background-color: transparent;
            border-radius: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: -40px;
            text-align: center;
            z-index: 1;
            transition: all 0.3s linear 0s;
            top: 40%;
            transform: translateY(-50%);
            font-size: 36px;
            color: #233538;

            &:hover{
                background-color: transparent;
            }
        }
        .owl-prev {
            left: -40px;
            right: unset;
        }
    }
}