header{
    .navbar{
        background-color: $white;
        position: relative;
        width: 100%;
        z-index: 1030;
        padding-top: 25px;
        padding-bottom: 25px;
        box-shadow: 0 0 4px 2px rgba(238,238,238,0.50);

        @include device(mobile) {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .navbar-brand{
            img{
                width: auto;
                height: 60px;

                @include device(tablet) {
                    height: 60px;
                }
    
                @include device(mobile) {
                    height: 45px;
                }
            }
        }

        .navbar-toggler{
            border-radius: 4px;
            padding: 9px;
            padding-top: 7px;
            border-color: #e5e5e5;
            img{
                width: 22px;
                height: 16px;
            }
        }

        .nav-collapse{
            display: flex;

            @include device(mobile) {
                width: 100%;
                justify-content: center;
            }

        }

        .navbar-nav{
            .nav-item{
                margin-right: 50px;
                @include device(hd) {
					margin-right: 50px;
				}
				@include device(tablet) {
					margin-right: 30px;
				}

				@include device(mobile) {
					margin-right: 0px;
                }

                &:last-child{
					margin-right: 0;
                }
                
                .nav-link{
                    @extend %font-14;
                    color: #6A707E;
                    text-align: center;

                    .img{
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 5px;

                        img{
                            height: 30px;
                            width: auto;
                        }
                    }

                    &:hover, &.active{
                        color: $primary;
                    }
                }
            }
        }

        &.scroll{
            position: fixed;
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.07);
        }
    }
}