.message-list{
    height: 600px;
    position: relative;

    ul{
        padding: 0 !important;
        margin: 0 !important;
        list-style: none;

        li{
            position: relative;
            display: block;
            padding: 10px 20px !important;
            margin-bottom: 0 !important;
            a{
                display: block;
                color: #6A707E;
                p{
                    @extend %font-16;
                    margin-bottom: 10px;
                    &.name{
                        font-weight: 700;
                    }

                    &.excerpt{
                        @extend %font-sans-regular;
                    }
                    
                    &.timestamp{
                        @extend %font-sans-regular;
                        @extend %font-12;
                        text-align: right;
                        margin-bottom: 0;
                    }
                }
            }

            + li{
                border-top: 1px solid #E0E0E0;
            }

            &.active{
                background-color: rgba($primary, 0.09);

                a{
                    color: $primary;
                }
            }
        }
    }
}

.message-content{
    height: 535px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;

    .sent, .reply{
        //display: flex;
        margin-bottom: 25px;
        width: auto;
        max-width: 50%;
        border-radius: 4px;

        .card{
            margin-bottom: 5px;
            border-radius: 4px;
            background-color: transparent;
            box-shadow: none;
            border: none;
            .card-body{
                padding: 10px;

                p{
                    @extend %font-sans-regular;
                    @extend %font-16;
                    margin-bottom: 0;
                }
            }
        }

        .timestamp{
            @extend %font-sans-regular;
            @extend %font-12;
            margin-bottom: 0;
            color: #6A707E;
            text-align: right;
        }
    }

    .reply{
        .card{
            background-color: #36A1EB;
            .card-body{
                p{
                    color: $white;
                }
            }
        }
    }

    .sent{
        margin-left: auto;
        .card{
            background-color: $white;
            border: 1px solid #E0E0E0;
        }
    }
}