@mixin device($media) {
    @if $media == mobile {
        @media only screen and (max-width: 768px - 1) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: 768px) and (max-width: 992px - 1) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (min-width: 992px) and (max-width: 1200px - 1) { @content; }
    }
    @else if $media == desktop-up {
        @media only screen and (min-width: 1200px) { @content; }
    }
    @else if $media == hd {
        @media only screen and (min-width: 1280px + 1) { @content; }
    }
    @else if $media == hdd {
        @media only screen and (min-width: 1300px + 1) { @content; }
    }
    @else if $media == hdd-up {
        @media only screen and (min-width: 1400px) { @content; }
    }
    @else if $media == ultra-hd {
        @media only screen and (min-width: 1600px) { @content; }
    }
}

%font-sans-caption{
    font-family: 'PT Sans Caption', sans-serif;
}

%font-sans-regular{
    font-family: 'PT Sans', sans-serif;
}

%font-12{
    font-size: 12px;
    line-height: 15px;
}

%font-14{
    font-size: 14px;
    line-height: 22px;
}

%font-16{
    font-size: 16px;
    line-height: 22px;
}

%font-18{
    font-size: 18px;
    line-height: 24px;
}

%font-20{
    font-size: 20px;
    line-height: 30px;
}

%font-24{
    font-size: 24px;
    line-height: 32px;
}

%font-30{
    font-size: 30px;
    line-height: 40px;
}

%font-36{
    font-size: 36px;
    line-height: 44px;
}

%font-48{
    font-size: 48px;
    line-height: 62px;
}

%font-50{
    font-size: 50px;
    line-height: 60px;
}

%font-70{
    font-size: 70px;
    line-height: 70px;
}

%font-80{
    font-size: 80px;
    line-height: 130px;
}