#calendar.fc {
    table {
        th{
            border-color: $white;
            color: #233538;
            @extend %font-16;
            padding: 18px 0;
        }
    }

    .fc-toolbar{
        display: none;
    }

    &.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
        float: left;
        padding: 15px;
    }
}

#calendar-small.fc {
    table {
        border: none !important;
        th{
            padding-bottom: 10px;
        }
        th, td{
            border: none !important;
            @extend %font-12;
            text-align: center;
        }

    }
    &.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
        float: none;
    }

    h2{
        @extend %font-16;
    }
}

.calendar-list{
    position: relative;
    .calendar-nav{
        color: $primary;
        position: absolute;
        top: 0;
        cursor: pointer;

        &.left{
            left: 0;
        }

        &.right{
            right: 0;
        }
    }
}

.date{
    border: 1px solid #e0e0e0;
    text-align: center;
    margin-right: 20px;
    h5{
        font-weight: 400;
        padding: 6px 16px;
        color: #fefefe;
        margin-bottom: 0;
        background-color: $danger;
    }

    h3{
        font-size: 32px;
        font-weight: 400;
        padding: 6px 16px;
        margin-bottom: 0;
    }

    p{
        margin-bottom: 10px;
    }
}