.login-layout{
    background-color: $white;
    header{
        display: none;
    }

    main{
        padding: 0;
    }

    footer{
        display: none;
    }
}

.page-login{
    .left{
        padding: 100px 0;
        min-height: 100vh;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .caption{
            margin-bottom: 270px;
            h5{
                color: $white;
                margin-bottom: 7px;
                font-weight: 700;
            } 
            h2{
                color: $white;
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        .social-media{
            display: flex;
            align-items: center;

            a{
                display: flex;
                align-items: center;
                color: $white;

                .icon{
                    width: 25px;
                    height: 25px;
                    flex: 0 0 25px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $white;
                    margin-right: 15px;
                }

                + a{
                    margin-left: 30px;
                }
            }
        }
    }

    .right{
        min-height: 100vh;
        padding: 100px 0;

        .logo{
            margin-bottom: 48px;
            text-align: center;

            img{
                height: 72px;
                width: auto;
            }
        }

        h4{
            text-align: center;
            font-weight: 700;
            color: $primary;
            position: relative;
            padding-bottom: 30px;
            margin-bottom: 70px;
            text-transform: uppercase;

            &:after{
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                border-radius: 4px;
                background-color: $primary;
                bottom: 0;
                left: 0;
            }
        }

        .form-group{
            margin-bottom: 42px;
        
            label{
                color: #233538;
                margin-bottom: 10px;
                @extend %font-18;
            }
        
            .forgot-password{
                @extend %font-14;
                color: $primary;
            }

            .form-control{
                padding: 17px 35px;
            }
        }
    }
}