.statistics{
    text-align: center;
    .icon{
        margin-bottom: 20px;
        img{
            height: 25px;
            width: auto;
        }
    }
    h4{
        margin-bottom: 10px;
    }
    p{
        min-height: 48px;
        margin-bottom: 15px;
    }
    a{
        @extend %font-12;
        font-weight: 700;
        color: $primary;
        margin-bottom: 30px;
        display: block;
    }
}

.map{
    margin-bottom: 70px;
}

.event-list{
    .item{
        display: flex;
        &:before{
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            margin-right: 10px;
            background-color: $primary;
            border-radius: 50%;
            margin-top: 2px;
        }
        h6{
            @extend %font-12;
            font-weight: 700;
            margin-bottom: 5px;
            color: $primary;
        }
        p{
            @extend %font-12;
        }
    }
}

.document-list{
    h6{
        @extend %font-16;
        font-weight: 400;

        a{
            color: $text-default;
            display: block;
            margin-bottom: 10px;
            &:hover{
                color: $primary;
            }
        }
        .datestamp{
            display: block;
            text-align: right;
            @extend %font-12;
            opacity: 0.5;
        }
        
        + h6{
            margin-top: 30px;
        }
    }
}