.document-grid{
    display: flex;
    flex-wrap: wrap;

    .item{
        width: calc(100% / 7);
        padding: 15px;
        text-align: center;
        margin-bottom: 30px;

        .icon{
            margin-bottom: 25px;
            img{
                height: 47px;
                width: auto;
            }
        }

        p{
            color: #233538;
            margin-bottom: 0;
        }
    }
}

.document-menu{
    text-align: center;

    .icon{
        width: 115px;
        height: 90px;
        margin: 0 auto;
        border: 1px solid $success;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 5px;

        img{
            max-width: 100%;
            height: auto;
        }
    }

    p{
        color: #233538;
    }
}