.sidebar{
    padding: 20px 0;
    background-color: $white;
    box-shadow: 0 0 4px 2px rgba(238,238,238,0.50);
    margin-bottom: 30px;

    .sidebar-nav{
        .has-arrow{
            position: relative;

            &:after {
                content: '';
                width: 8px;
                height: 8px;
                border-width: 0 0 1px 1px;
                border-style: solid;
                border-color: #6A707E;
                margin-left: 20px;
                transform: rotate(135deg) translate(0,-50%);
                transform-origin: center;
                transition: all .3s ease-out;
				
				// @include device(tablet) {
				// 	display: none;
				// }
		
				// @include device(mobile) {
				// 	display: none;
				// }
            }
        }

        ul{
            margin: 0;
            padding: 0;
    
            .nav-item{
                list-style: none;
    
                .nav-link{
                    @extend %font-16;
                    color: #6A707E;
                    padding: 20px;
                    padding-left: 60px;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
    
                    .icon{
                        margin-right: 30px;
                        img{
                            height: 25px;
                            width: auto;
                        }
                    }

                    &.active{
                        &:not(.has-arrow){
                            background: #F4F9FD;
                            border-left: 3px solid $primary;
                            color: $primary;
                            font-weight: 700;
                        }
                    }
                }

                ul{
                    .nav-item{
                        .nav-link{
                            padding: 15px 20px;
                            padding-left: 110px;
                        }
                    }
                }

                // &.selected{
                //     .nav-link{
                //         background: #F4F9FD;
                //         border-left: 3px solid $primary;
                //         color: $primary;
                //         font-weight: 700;
                //     }
                // }

                > .has-arrow{
                    &.active{
                        &:after {
                            transform: rotate(-45deg) translate(0,-50%);
                        }
                    }
                }
            }
        }

        .collapse:not(.show) {
            display: none; 
        }

        .collapse.in {
            display: block;
        }
    }
}