.table{
    thead{
        tr{
            th, td{
                border-top: none;
                vertical-align: top;
            }
        }
    }
    tr{
        th, td{
            @extend %font-16;
            color: #233538;
            border-width: 1px;
        }
    }
}