h2{
    @extend %font-48;
}

h3{
    @extend %font-30;
}

h4{
    @extend %font-24;
    font-weight: 700;
}

h5{
    @extend %font-20;
}

h6{
    @extend %font-18;
}

.font-16{
    @extend %font-16;
}