.bg-primary{
    background-color: $primary !important;
}

.bg-secondary{
    background-color: $secondary !important;
}

.bg-success{
    background-color: $success !important;
}

.bg-warning{
    background-color: $warning !important;
}

.bg-default{
    background-color: #D4D9E1 !important;
}

.bg-gray{
    background-color: #FAFBFD !important;
}

.bg-dark{
    background-color: $text-dark !important;
}

.text-primary{
    color: $primary !important;
}

.text-secondary, .text-blue{
    color: $secondary !important;
}

.text-success{
    color: $success !important;
}

.text-info{
    color: $info !important;
}

.text-warning{
    color: $warning !important;
}

.text-danger{
    color: $danger !important;
}

.mr-10{
    margin-right: 10px !important;
}

.mr-15{
    margin-right: 15px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-20{
    margin-top: 20px !important;
}

.mt-30{
    margin-top: 30px !important;
}

.mt-40{
    margin-top: 40px !important;
}

.mb-5px{
    margin-bottom: 5px !important;
}

.mb-10{
    margin-bottom: 10px !important;
}

.mb-20{
    margin-bottom: 20px !important;
}

.mb-30{
    margin-bottom: 30px !important;
}

.mb-40{
    margin-bottom: 40px !important;
}

.mb-50{
    margin-bottom: 50px !important;
}

.pt-10{
    padding-top: 10px !important;
}

.py-10{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.py-50{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.pb-40{
    padding-bottom: 40px !important;
}

.pb-30{
    padding-bottom: 30px !important;
}

.overflow-hidden{
    overflow: hidden;
}